<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.registerServlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogInServlet</display-name>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>com.loginServ.LogInServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListUsers</display-name>
		<servlet-name>ListUsers</servlet-name>
		<servlet-class>com.list.ListUsers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditUser</display-name>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>com.edituser.EditUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUsers</servlet-name>
		<url-pattern>/ListUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>signin.html</welcome-file>
	</welcome-file-list>
</web-app>
